<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sunmibarcodescanner">


    <!-- For devices with target SDK >= 30 (Android 11) -->
    <queries>
        <package android:name="com.sunmi.scanner" />
        <package android:name="com.sunmi.sunmiqrcodescanner" />
    </queries>
</manifest>
